h5 Add comment
form(id="comment-form" action="" method="POST")
    div(id="error" class="card-panel")
    div(class="card-panel")
        textarea(class="materialize-textarea" id="text" name="text" form="comment-form")
        //label(for="comment") Comment text
        button(class="waves-effect waves-light btn blue accent-3" type="submit" name="submit" id="submit") Submit
            i(class="material-icons right") send
        input(type="hidden" id="threadId" name="threadId" value=threadId)