footer(class="page-footer blue lighten-2")
    div(class="container")
        div(class="row")
        div(class="col l6 s12")
            //h5(class="white-text") Footer Content
            p(class="grey-text text-lighten-4") A project made for the Web Applications course
        div(class="col l4 offset-l2 s12")
            h5(class="white-text") Links
            ul
            li: a(class="grey-text text-lighten-3" href="https://github.com/ryker-dev/WebApp_Project") GitHub
            //li: a(class="grey-text text-lighten-3" href="#!") Link 2
            //li: a(class="grey-text text-lighten-3" href="#!") Link 3
            //li: a(class="grey-text text-lighten-3" href="#!") Link 4
    div(class="footer-copyright")
        div(class="container")
            p © 2014 Copyright Text
        //a(class="grey-text text-lighten-4 right" href="#!") More Links
    link(rel='stylesheet' href='/stylesheets/footer_style.css')