extends layout

block content
  div(class="container")
    h1 Threads
    h4=message
    a(class="waves-effect waves-light btn blue accent-3" href="/thread/create") Create Thread
      i(class="material-icons left") add
    div
      table
        tr 
          th(class="upvote")
          th(class="downvote")
          th(class="thread-name")
        each thread in threads
            tr(class="thread-row hoverable", onclick="window.location='/thread/get/"+thread._id+"';")
              td(class="upvote-icon")
                div
                  i(class="material-icons") thumb_up
                  text=thread.upvotes
              td(class="downvote-icon")
                div
                  i(class="material-icons") thumb_down
                  text=thread.downvotes
              td(class="thread-name")
                h6=thread.threadname

  link(rel='stylesheet' href='/stylesheets/thread_style.css')
  script(src="js/index.js")

