doctype html
html
  head
    title Programming
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  include navbar.pug
  body(class="main-body")
    main
      block content
      //footer Copyright X!
      br
    include footer.pug