extends layout 

block content 
    div(class="container")
        h1 Login
        div(id="error" class="card-panel error")
        form(id="login-form" action="" method="POST")
            label(for="email") Username
            input(type="email" name="email" id="email" required)
            label(for="password") Password
            input(type="password" name="password" id="password" required)
            input(type="submit" name="submit" id="submit" value="Login")
        script(src="/js/login.js")