extends layout 

block content
    div(class="container")
        h1 Register
        div(id="error" class="card-panel error")
        form(action="/api/user/register" method="POST")
            label(for="email") Email
            input(type="email" name="email" id="email" required)
            label(for="password") Password
            input(type="password" name="password" id="password" required)
            input(type="submit" name="submit" id="submit" value="Register")