extends layout

block content
  div(class="container")
    h1=threadname
    h4=message
    div
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam consectetur delectus voluptatum, odio voluptates ipsum saepe, suscipit corrupti atque obcaecati libero nesciunt officia ullam, amet perferendis facilis. Dolore, velit voluptate!

