body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-body {
  padding: 0px;
}

.container {
  padding-bottom: 4rem;
}

/* textarea.materialize-textarea {
  border: 1rem;
} */

div.error {
  border-radius: 0%;
  box-shadow: none;
}